<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="ru.appsm.customkeyboard"
    version="0.1.2">
    <name>CustomKeyboard</name>
    <description>Cordova Custom Keyboard Plugin For Ios</description>
    <license>Apache 2.0</license>
    <keywords>cordova,keyboard</keywords>

	<engines>
		<engine name="cordova" version=">=3.2.0" />
	</engines>

    <js-module src="www/customkeyboard.js" name="customkeyboard">
    	<clobbers target="window.CustomKeyboard" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CustomKeyboard">
                <param name="ios-package" value="CDVCustomKeyboard" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVCustomKeyboard.h" />
        <source-file src="src/ios/CDVCustomKeyboard.m" />
    </platform>

</plugin>
